<div id="about">
  <div class="about-img" style="background-image: url('pics/me.jpg')">
    <img class="me-img" src="pics/me.jpg" />
  </div>
  <div class="about-me">
    <div class="stack" style="--stacks: 3">
      <span style="--index: 0"><h2>About</h2></span>
      <span style="--index: 1"><h2>About</h2></span>
      <span style="--index: 2"><h2>About</h2></span>
    </div>
    <p>
      Hey, my name is Allushaj Sergio and I use Vantablack as my nickname across
      social medias. I’m a graphic designer, UX/UI designer & front-end web
      developer from Italy. I’m passionate about creating beautiful and
      functional websites that provide a great user experience.
    </p>
  </div>
</div>
