<div id="about">
  <div class="about-img" style="background-image: url('pics/me.jpg')">
    <img alt="Me" class="me-img" src="pics/me.jpg" />
  </div>
  <div class="about-me">
    <div class="stack" style="--stacks: 3">
      <span style="--index: 0"><h2>About me</h2></span>
      <span style="--index: 1"><h2>About me</h2></span>
      <span style="--index: 2"><h2>About me</h2></span>
    </div>
    <p>
      Hi, I’m Sergio Allushaj, also known as Vantablack on social media. I’m a
      graphic designer, UX/UI designer, and junior front-end web developer from
      Italy. With experience in HTML, CSS, JavaScript, PHP, React, and SQL, I’m
      passionate about crafting beautiful, functional websites that deliver
      exceptional user experiences.
    </p>
  </div>
</div>
