<div id="about">
  <div class="about-me">
    <div class="stack" style="--stacks: 3">
      <span style="--index: 0"><h2>About</h2></span>
      <span style="--index: 1"><h2>About</h2></span>
      <span style="--index: 2"><h2>About</h2></span>
    </div>
    <p>
      Hey, my name is Charles Bruyerre and I use Sharlee as my nickname across
      social medias. I’m a graphic designer, UX/UI designer & front-end web
      developer from France. I’m also passionate about pop music and make
      portraits and universes around what I listen to and I’m always curious to
      learn more when it comes to new technologies and creative coding.
    </p>
    <a class="btn" href="styles/files/CV SA 2023.pdf" download
      >DOWNLOAD MY CV</a
    >
  </div>
  <div class="about-img" style="background-image: url('pics/me.jpg')">
    <img class="me-img" src="pics/me.jpg" />
  </div>
</div>
