<footer id="footer">
  <div class="footer-container">
    <div class="footer-contacts">
      <a id="anchor-top" href="#top">
        <div class="stack" style="--stacks: 3">
          <span style="--index: 0">VANTABLACK</span>
          <span style="--index: 1">VANTABLACK</span>
          <span style="--index: 2">VANTABLACK</span>
        </div>
      </a>
      <span class="cross">X</span>
      <div>
        <a href="mailto:sergioallushaj@gmail.com">
          <div class="stack" style="--stacks: 3">
            <span style="--index: 0">CONTACT</span>
            <span style="--index: 1">CONTACT</span>
            <span style="--index: 2">CONTACT</span>
          </div>
        </a>
        <a href="mailto:sergioallushaj@gmail.com">
          <div class="stack" style="--stacks: 3">
            <span style="--index: 0">LINKEDIN</span>
            <span style="--index: 1">LINKEDIN</span>
            <span style="--index: 2">LINKEDIN</span>
          </div>
        </a>
        <a href="mailto:sergioallushaj@gmail.com">
          <div class="stack" style="--stacks: 3">
            <span style="--index: 0">INSTAGRAM</span>
            <span style="--index: 1">INSTAGRAM</span>
            <span style="--index: 2">INSTAGRAM</span>
          </div>
        </a>
      </div>
    </div>
    <div class="foot-footer">
      <a href="https://codesandbox.io/" class="code">
        <span>Hosted by</span>
        <img src="pics/code.png" />
      </a>
    </div>
  </div>
</footer>
