<div id="top"></div>
<header id="header">
  <div class="header-container">
    <a href="#top" id="logo">
      <span>VANTABLACK</span>
    </a>
    <div class="header-anchors">
      <a href="#about">about</a>
      <a href="#works">projects</a>
      <a href="#skills">skills</a>
      <a href="#footer">contact</a>
    </div>
  </div>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script>
  $(document).ready(function() {
    var scroll_pos = 0;

    $(document).scroll(function() {
      scroll_pos = $(this).scrollTop();
      
      if (scroll_pos > 10) {
        $('body').css('scroll-snap-type', 'none');
        $("#header").css('background-color', 'rgba(0, 0, 0, 0.8)');
        
        setTimeout(function() {
          // Re-enable snap scrolling after 1 second
          $('body').css('scroll-snap-type', 'y mandatory');
        }, 1000);
      } else {
        $('body').css('scroll-snap-type', 'y mandatory');
        $("#header").css('background-color', 'transparent');
      }
    });
  });
</script> -->
