<div
  class="homepage-intro"
  data-aos="flip-left"
  style="
    background: url('pics/vanta.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="opacity-layer"></div>
  <div class="home-text">
    <div class="intro">
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0">VantaBlack Web developer</span>
        <span style="--index: 1">VantaBlack Web developer</span>
        <span style="--index: 2">VantaBlack Web developer</span>
      </div>
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0">Junior front-end developer</span>
        <span style="--index: 1">Junior front-end developer</span>
        <span style="--index: 2">Junior front-end developer</span>
      </div>
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0">amateur photographer</span>
        <span style="--index: 1">amateur photographer</span>
        <span style="--index: 2">amateur photographer</span>
      </div>
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0">BASED IN ITALY</span>
        <span style="--index: 1">BASED IN ITALY</span>
        <span style="--index: 2">BASED IN ITALY</span>
      </div>
    </div>
  </div>

  <span class="scroll-down-span">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      width="115px"
      height="10px"
      role="img"
    >
      <path
        d="M0 8.5 L115 8.5"
        style="fill: none; stroke: rgb(255, 255, 255); stroke-width: 1"
        shape-rendering="auto"
      ></path>
    </svg>
    >SCROLL DOWN
  </span>
</div>
