<div id="projects">
    <div class="row-projects">
      <div
        class="project p-1"
        style="
          background-image: url('pics/OOZOO.gif');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <span>E-COMMERCE</span>
        <h2>KRONOS SHOP</h2>
      </div>
      <div
        class="project p-2"
        style="background-image: url('pics/gallery1.jpg')"
      >
        <span>E-COMMERCE</span>
        <h2>KRONOS SHOP</h2>
      </div>
    </div>
    <div class="row-projects">
      <div
        class="project p-3"
        style="background-image: url('pics/gallery2.jpg')"
      >
        <span>E-COMMERCE</span>
        <h2>KRONOS SHOP</h2>
      </div>
      <div class="project p-4"></div>
    </div>
  </div>
</div>
