<div id="projects">
    <div class="row-projects">
      <a
        href="https://vanta-black-website.vercel.app/"
        class="project p-1"
      >
      <img src="pics/VB-Portfolio.jpeg" alt="Vantablack Portfolio Image" />
        <span>PORTFOLIO WEBSITE</span>
        <h2>VANTABLACK WEBSITE</h2>
      </a>
      <a
      href="https://vanta-black-kronos.vercel.app/"
        class="project p-2"
      >
      <img src="pics/OOZOO.gif" alt="Kronos Image" />
        <span>E-COMMERCE</span>
        <h2>KRONOS SHOP</h2>
      </a>
    </div>
    <div class="row-projects">
      <a
        class="project p-3"
      >
            <img src="pics/gallery2.jpg" alt="Site Image" />
        <span>WEBSITE ASSIGNMENT</span>
        <h2>TECH SHOP</h2>
    </a>
      <div class="project p-4"></div>
    </div>
  </div>
</div>
