<div id="skills">
  <div class="opacity-layer"></div>
  <div class="skills-container">
    <div class="stack" style="--stacks: 3">
      <span style="--index: 0"><h2>Skills</h2></span>
      <span style="--index: 1"><h2>Skills</h2></span>
      <span style="--index: 2"><h2>Skills</h2></span>
    </div>
    <p>
      I’m a junior developer with skills in HTML, CSS, JavaScript, React, and
      Next.js. I also work on UX/UI design using Figma and bring a creative
      touch with graphic design skills in Adobe Photoshop and Illustrator.
    </p>
    <div class="tech-list">
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0"><i class="fa-brands fa-html5"></i></span>
        <span style="--index: 1"><i class="fa-brands fa-html5"></i></span>
        <span style="--index: 2"><i class="fa-brands fa-html5"></i></span>
      </div>
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0"><i class="fa-brands fa-css3"></i></span>
        <span style="--index: 1"><i class="fa-brands fa-css3"></i></span>
        <span style="--index: 2"><i class="fa-brands fa-css3"></i></span>
      </div>
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0"><i class="fa-brands fa-react"></i></span>
        <span style="--index: 1"><i class="fa-brands fa-react"></i></span>
        <span style="--index: 2"><i class="fa-brands fa-react"></i></span>
      </div>
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0"><i class="fa-brands fa-js"></i></span>
        <span style="--index: 1"><i class="fa-brands fa-js"></i></span>
        <span style="--index: 2"><i class="fa-brands fa-js"></i></span>
      </div>
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0"><i class="fa-brands fa-figma"></i></span>
        <span style="--index: 1"><i class="fa-brands fa-figma"></i></span>
        <span style="--index: 2"><i class="fa-brands fa-figma"></i></span>
      </div>
      <div class="stack" style="--stacks: 3">
        <span style="--index: 0"
          ><i class="fa-brands fa-wordpress-simple"></i
        ></span>
        <span style="--index: 1"
          ><i class="fa-brands fa-wordpress-simple"></i
        ></span>
        <span style="--index: 2"
          ><i class="fa-brands fa-wordpress-simple"></i
        ></span>
      </div>
    </div>
  </div>
</div>
