<div id="works">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div id="slide2" class="swiper-slide">
        <div class="work slide-container">
          <div>
            <span>PORTFOLIO THEME</span>
            <div class="stack" style="--stacks: 3">
              <span style="--index: 0"><h2>Portfolio Modern Template</h2></span>
              <span style="--index: 1"><h2>Portfolio Modern Template</h2></span>
              <span style="--index: 2"><h2>Portfolio Modern Template</h2></span>
            </div>
            <a href="https://kuroiokami89.github.io/Portfolio-Vantablack/"
              >Visit the app</a
            >
          </div>
          <img src="pics/gallery1.jpg" />
        </div>
      </div>
      <div id="slide3" class="swiper-slide">
        <div class="work slide-container">
          <div>
            <span>GALLERY THEME</span>
            <div class="stack" style="--stacks: 3">
              <span style="--index: 0"><h2>Vantablack Gallery</h2></span>
              <span style="--index: 1"><h2>Vantablack Gallery</h2></span>
              <span style="--index: 2"><h2>Vantablack Gallery</h2></span>
            </div>
            <a href="https://llvs9g-8080.csb.app/">Visit the gallery</a>
          </div>
          <img src="pics/gallery2.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper(".swiper", {
      direction: "horizontal",
      loop: true,
      spaceBetween: 0,
      mousewheel: false,
      parallax: true,
      speed: 600,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      nested: false, // Allow page scrolling when swiper reaches its boundaries
    });
  });
</script>
